nav a {
  text-decoration:none;
  display: inline-block;
  padding: 15px 3%;
  background-color: #e16e48;
  color: #fff;
  border-color: rgba(255, 255, 255, 0.904);
  border-style:outset;
  border-radius: 10px;
  margin-bottom: 30px;
  margin-right: 0.5%;
  margin-left: 0.5%;
}

h2{
  margin-bottom: 10px;
}

ul{
  margin-top: 0px;
}

body{
  font-family: sans-serif;
  text-align: center;
  
  background-color: rgba(247, 245, 245, 0.562);
}

#stranka{
  width: 50%;
  text-align: center;
}

#text h2{
  font-size: 40px;
}

#text{
  font-size: 20px;
  line-height: 30px;
  display: inline-block;
  text-align: left;
}

#img1{
  width: 500px;
  display: inline-block;
  margin-bottom: 30px;
}

#img{
  width: 50%;
}

.loga{
  margin-top: 80px;
  margin-bottom: 40px;
  margin-right: 5%;
  margin-left: 5%;
  display: inline;
}

h1{
  font-size: 40px;
}


