h1{
  font-size: 40px;
}

h2{
  margin-bottom: 10px;
  font-size: 40px;
}

a{
  text-decoration:none;
}

body{
  font-family: sans-serif;
  text-align: center; 
  background-color: rgba(247, 245, 245, 0.562);
}

.animace:hover{
  cursor: pointer;
  transition: transform .2s;
  transform: scale(1.2)
}

.animace:not(:hover){
  cursor: pointer;
  transition: transform .2s;
  transform: scale(1)
}

.loga{
  display: inline-block;
  width: 7%;  
}

.loga:hover{
  transition: transform .2s;
  transform: scale(1.2)
}

.loga:not(:hover){
  transition: transform .2s;
  transform: scale(1)
}

.img:hover{
  transition: transform .2s;
  transform: scale(1.02)
}

.img:not(:hover){
  transition: transform .2s;
  transform: scale(1)
}

.form{
  margin: 0.4%;
  padding: 0.5em 1em;
  border-radius: 2px;
  border: solid 1px #ccc;
  text-align: left;
}

.submit{
  margin-top: 10px;
  border-radius: 2px;
  border: solid 1px #ccc;
  padding: 5px 20px;
  font-size: small;
}

.radio{
  text-align: left;
  display: inline-block;
}

#radio{
  text-align: center
}

#login{
  text-align: right;
  font-size: large;
}

#chart{
  max-width: 100%;
  margin: auto;
  padding: 10px;
}

#topnav a{ 
  margin-bottom: 10px;
  margin-right: 0.5%;
  margin-left: 0.5%;
}

#stranka{
  width: 50%;  
}

#text{
  font-size: 20px;
  line-height: 30px;
  display: inline-block;
  text-align: left;
}

#img1{
  width: 500px;
  display: inline-block;
  margin-bottom: 30px;
}

#img{
  width: 50%;
}

#openzone{
  padding: 1% 2%;
  width: 21%;
}

#form_button{
  font-size:larger;
  padding: 20px 8%;
  background-color: #e16e48;
  color: #fff;
  border-style:outset;
  border-radius: 10px;
}

#footer{
  margin-top: 40px;
}

