{% extends "index.html.j2" %}
{% block container %}
<form method="POST">
    {{ form.hidden_tag() }}
    Jméno: {{ form.name }}<br>
    {{ form.choice }}<br>
    <input type="submit" aria-valuemax="">
{% endblock container %}