{% extends "index.html.j2" %}
{% block container %}
<form>
    Jméno: <input type="text" name="name">
    Heslo: <input type="password" name="password">
    <input type="submit" name="submit">
</form>
<p>{{session.get("cookie")}}</p>
{% endblock container %}