{% extends "index.html.j2" %}
{% block container %}
<form method="POST">
    {{ form.hidden_tag() }}
    <h5>Dotazník vyplňuješ jako <i>{{ session.get("user") }}</i></h5>
    <strong>{{tema}}</strong>
    <div id="radio">
        {{ form.choice(class="radio")}}<br>
    </div> 
    <input type="submit" value="Odeslat" class="submit">
</form>
{% endblock container %}