<!DOCTYPE html>
<html lang="cs,sk,en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static\img\favicon.png">  
    <link rel="stylesheet" href="static\style.css">
    <title>OpenZone</title>
</head>
<body>
    <center>
    <div id="stranka">     
        <div id="topnav">
            <b>          
                <nav>
                <a href="https://discord.gg/wWBuHHhSVC">
                    <img src="static\img\discord.png" alt="Discord" class="loga">
                </a>
                <a href="https://t.me/joinchat/Ut4LHWMsb3qSnVEM">
                    <img src="static\img\telegram.png" alt="Telegram" class="loga">
                </a>
                <a href="/" >
                    <img src="static\img\openzone.png" alt="openzone" class="loga" id="openzone">
                </a>
                <a href="https://GitLab.com/OpenZone">
                    <img src="static\img\gitlab.png" alt="GitLab"  class="loga">
                </a>
                </a>
                <a href="https://www.spseol.cz/zajmova-cinnost/zajmova-cinnost/zajmova-cinnost/619-openzone">
                    <img src="static\img\spseol.png" alt="SPŠEOL" class="loga">
                </a>
                    
                </nav> 
            </b>          
        </div>
        <hr>
        
        
          
        <div id="container">  
        {% block container %}         
            <div id="uvod">
                <img src="static\img\logo.png" id="img" class=img> <br> 
                <b><h1>Otevřené místo pro setkávání, sdílení, diskuzi a růst.</h1></b>
                <h3>Kroužek se odehrává formou workshopů, do kterých se každý účastník přihlašuje dle svého zájmu. Každý workshop končí vyčerpáním tématu nebo účastníků.</h3>
            </div>
            <br><br><br><br><br><br>
            <div id="text">
                <div id="workshopy">
                    <b><h2>Přehled oblastí pro wokshopy:</h2></b>
                        <ul>                                
                            <li>programování v jazyce Python</li>
                            <li>grafické aplikace</li>
                            <li>objektové hry</li>
                            <li>programování webových stránek</li>
                            <li>frontend</li>
                            <li>backend</li>
                            <li>programování mikro-kontrolérů v jazyce C</li>
                            <li>3D tisk</li>                                
                            <li>operační systém Linux</li>
                            <li>robotika</li>
                        </ul>
                    </div>

                    <div id="sraz">
                        <b><h2>Pravidelná setkávání</h2></b>
                            <ul>
                                <li>Úterý po 6. a 7. vyučovací hodině</li>
                                <li>cca 14:00</li>
                                <li>LP6</li>
                            </ul>
                    </div>
            </div>
                <img id="img1" src="static\img\img1.png" class="img">
            <div id="form">
                <b><h2>Dotazníky a průzkumy</h2></b>
                <h3>Občas se tu koná nějaké to hlasování, budeme rádi za jakoukoliv účast :)</h3>
                    <button id="form_button" type="button" onclick="location.href='form'" class="animace">Hlasovat</button>
            </div>
        </div>   
        <div id="footer">
            <hr>
            <b>(ɔ)</b> Marrek Nožka<br>
            Stránka by Jan Dlabaja
        </div>  
        {% endblock container %}              
    </div>
    
    </center>
</body>
</html>

