{% extends "index.html.j2" %}
{% block container %}
<form method="POST">
    {{ form.hidden_tag() }}
    Jméno: {{ form.name }}<br>
    Heslo: {{ form.password }}<br>
    <input type="submit" value="Přihlásit se"><br><br>
    Nemáte účet? Založte si ho <a class="text" href="/register">zde</a>
{% endblock container %}