{% extends "index.html.j2" %}
{% block container %}
<form method="POST">
    {{ form.hidden_tag() }}
    {{ form.name(class="form") }}<br>
    {{ form.email(class="form") }}<br>
    {{ form.password(class="form") }}<br>
    {{ form.passwordAgain(class="form") }}<br>
    <input type="submit" value="Zaregistrovat se" class="submit"><br><br>
    Již máte účet? Přihlaste se <a class="text" href="{{url_for('login')}}">zde</a>
{% endblock container %}